<div data-elementor-type="archive" data-elementor-id="179" class="elementor elementor-179 elementor-location-archive" data-elementor-post-type="elementor_library">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-8c2c0cc elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8c2c0cc" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-34d08fb" data-id="34d08fb" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-a641a83 elementor-widget elementor-widget-spacer" data-id="a641a83" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-276b616 elementor-widget elementor-widget-theme-page-title elementor-page-title elementor-widget-heading" data-id="276b616" data-element_type="widget" data-e-type="widget" data-widget_type="theme-page-title.default">
				<div class="elementor-widget-container">
					<h1 class="elementor-heading-title elementor-size-default">Search Results for: CLONE_SEARCH_TERM</h1>				</div>
				</div>
				<div class="elementor-element elementor-element-6dc2afd elementor-widget elementor-widget-spacer" data-id="6dc2afd" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-3198e8f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3198e8f" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4794d2e" data-id="4794d2e" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-95921ba elementor-widget elementor-widget-spacer" data-id="95921ba" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-ab2ea5b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ab2ea5b" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6e384c1" data-id="6e384c1" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap">
							</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-fe7428b" data-id="fe7428b" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-cd41a56 elementor-search-form--icon-arrow elementor-search-form--skin-classic elementor-search-form--button-type-icon elementor-widget elementor-widget-search-form" data-id="cd41a56" data-element_type="widget" data-e-type="widget" data-settings="{&quot;skin&quot;:&quot;classic&quot;}" data-widget_type="search-form.default">
				<div class="elementor-widget-container">
							<search role="search">
			<form class="elementor-search-form" action="/" method="get">
												<div class="elementor-search-form__container">
					<label class="elementor-screen-only" for="elementor-search-form-cd41a56">Search</label>

					
					<input id="elementor-search-form-cd41a56" placeholder="Search Post" class="elementor-search-form__input" type="search" name="s" value="CLONE_SEARCH_TERM">
					
											<button class="elementor-search-form__submit" type="submit" aria-label="Search">
															<i aria-hidden="true" class="fas fa-arrow-right"></i>													</button>
					
									</div>
			</form>
		</search>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-09e2f33 elementor-widget elementor-widget-spacer" data-id="09e2f33" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-3e8fb9a elementor-grid-2 blog-custom-post elementor-grid-tablet-2 elementor-grid-mobile-1 elementor-posts--thumbnail-top elementor-widget elementor-widget-archive-posts" data-id="3e8fb9a" data-element_type="widget" data-e-type="widget" data-settings="{&quot;archive_classic_columns&quot;:&quot;2&quot;,&quot;archive_classic_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:60,&quot;sizes&quot;:[]},&quot;pagination_type&quot;:&quot;numbers_and_prev_next&quot;,&quot;archive_classic_columns_tablet&quot;:&quot;2&quot;,&quot;archive_classic_columns_mobile&quot;:&quot;1&quot;,&quot;archive_classic_row_gap_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;archive_classic_row_gap_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}" data-widget_type="archive-posts.archive_classic">
				<div class="elementor-widget-container">
							<div class="elementor-posts-container elementor-posts elementor-posts--skin-classic elementor-grid" role="list">
						<div class="elementor-posts-nothing-found">
					It seems we can't find what you're looking for.				</div>
					</div>
		
						</div>
				</div>
				<div class="elementor-element elementor-element-33b4d15 elementor-widget elementor-widget-spacer" data-id="33b4d15" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>