<div data-elementor-type="single" data-elementor-id="192" class="elementor elementor-192 elementor-location-single" data-elementor-post-type="elementor_library">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-4befdb72 elementor-section-content-middle elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="4befdb72" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-582130e" data-id="582130e" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-71f98256 elementor-widget elementor-widget-heading" data-id="71f98256" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">404</p>				</div>
				</div>
				<div class="elementor-element elementor-element-695b54ed elementor-widget elementor-widget-heading" data-id="695b54ed" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Oops! That page can't be found</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-7f63be88 elementor-widget elementor-widget-heading" data-id="7f63be88" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">You can navigate through our menu or use this search bar:</p>				</div>
				</div>
				<div class="elementor-element elementor-element-24699893 elementor-search-form--skin-minimal elementor-widget elementor-widget-search-form" data-id="24699893" data-element_type="widget" data-e-type="widget" data-settings="{&quot;skin&quot;:&quot;minimal&quot;}" data-widget_type="search-form.default">
				<div class="elementor-widget-container">
							<search role="search">
			<form class="elementor-search-form" action="/search/" method="get">
												<div class="elementor-search-form__container">
					<label class="elementor-screen-only" for="elementor-search-form-24699893">Search</label>

											<div class="elementor-search-form__icon">
							<i aria-hidden="true" class="fas fa-search"></i>							<span class="elementor-screen-only">Search</span>
						</div>
					
					<input id="elementor-search-form-24699893" placeholder="Search..." class="elementor-search-form__input" type="search" name="s" value="">
					
					
									</div>
			</form>
		</search>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>