<div data-elementor-type="single" data-elementor-id="159" class="elementor elementor-159 elementor-location-single post-28 page type-page status-publish has-post-thumbnail hentry" data-elementor-post-type="elementor_library">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-e9ff97f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e9ff97f" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;mountains&quot;}">
							<div class="elementor-background-overlay"></div>
						<div class="elementor-shape elementor-shape-bottom" aria-hidden="true" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
	<path class="elementor-shape-fill" opacity="0.33" d="M473,67.3c-203.9,88.3-263.1-34-320.3,0C66,119.1,0,59.7,0,59.7V0h1000v59.7 c0,0-62.1,26.1-94.9,29.3c-32.8,3.3-62.8-12.3-75.8-22.1C806,49.6,745.3,8.7,694.9,4.7S492.4,59,473,67.3z"></path>
	<path class="elementor-shape-fill" opacity="0.66" d="M734,67.3c-45.5,0-77.2-23.2-129.1-39.1c-28.6-8.7-150.3-10.1-254,39.1 s-91.7-34.4-149.2,0C115.7,118.3,0,39.8,0,39.8V0h1000v36.5c0,0-28.2-18.5-92.1-18.5C810.2,18.1,775.7,67.3,734,67.3z"></path>
	<path class="elementor-shape-fill" d="M766.1,28.9c-200-57.5-266,65.5-395.1,19.5C242,1.8,242,5.4,184.8,20.6C128,35.8,132.3,44.9,89.9,52.5C28.6,63.7,0,0,0,0 h1000c0,0-9.9,40.9-83.6,48.1S829.6,47,766.1,28.9z"></path>
</svg>		</div>
					<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-866c303" data-id="866c303" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-5e8589d elementor-widget elementor-widget-spacer" data-id="5e8589d" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-3dafa64 elementor-headline--style-rotate ani-custom-banner elementor-widget elementor-widget-animated-headline" data-id="3dafa64" data-element_type="widget" data-e-type="widget" data-settings="{&quot;headline_style&quot;:&quot;rotate&quot;,&quot;animation_type&quot;:&quot;flip&quot;,&quot;loop&quot;:&quot;yes&quot;,&quot;rotate_iteration_delay&quot;:2500}" data-widget_type="animated-headline.default">
				<div class="elementor-widget-container">
							<h3 class="elementor-headline elementor-headline-animation-type-flip">
					<span class="elementor-headline-plain-text elementor-headline-text-wrapper">Tankless Water Heaters</span>
				<span class="elementor-headline-dynamic-wrapper elementor-headline-text-wrapper">
				</span>
				</h3>
						</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-f67ab5b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f67ab5b" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-04ab751" data-id="04ab751" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-b788810 elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="b788810" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm" href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjE4OSIsInRvZ2dsZSI6dHJ1ZX0%3D">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon">
				<i aria-hidden="true" class="fas fa-chevron-right"></i>			</span>
									<span class="elementor-button-text">BOOK NOW</span>
					</span>
					</a>
				</div>
								</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-8c14f61" data-id="8c14f61" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-abc639d elementor-widget elementor-widget-heading" data-id="abc639d" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">OR</h2>				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3d381e8" data-id="3d381e8" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-2290e00 elementor-align-center elementor-widget elementor-widget-button" data-id="2290e00" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm" href="tel:615.538.8579">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon">
				<i aria-hidden="true" class="fas fa-phone-alt"></i>			</span>
									<span class="elementor-button-text">CALL US</span>
					</span>
					</a>
				</div>
								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-f420253 elementor-widget elementor-widget-spacer" data-id="f420253" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-bab31ee" data-id="bab31ee" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-6c70628 elementor-widget elementor-widget-spacer" data-id="6c70628" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-77e6645 elementor-widget elementor-widget-image" data-id="77e6645" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img src="/wp-content/uploads/2019/12/happy-plumbing-half-3-min.png" width="4126" height="2637" class="attachment-full size-full wp-image-126" alt="" srcset="/wp-content/uploads/2019/12/happy-plumbing-half-3-min.png 4126w, /wp-content/uploads/2019/12/happy-plumbing-half-3-min-300x192.png 300w, /wp-content/uploads/2019/12/happy-plumbing-half-3-min-1024x654.png 1024w, /wp-content/uploads/2019/12/happy-plumbing-half-3-min-768x491.png 768w, /wp-content/uploads/2019/12/happy-plumbing-half-3-min-1536x982.png 1536w, /wp-content/uploads/2019/12/happy-plumbing-half-3-min-2048x1309.png 2048w" sizes="(max-width: 4126px) 100vw, 4126px">															</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-542d6ad elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="542d6ad" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-aca89d2" data-id="aca89d2" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-d426262 elementor-widget elementor-widget-theme-post-content" data-id="d426262" data-element_type="widget" data-e-type="widget" data-widget_type="theme-post-content.default">
				<div class="elementor-widget-container">
							<div data-elementor-type="wp-page" data-elementor-id="28" class="elementor elementor-28" data-elementor-post-type="page">
						<section class="elementor-section elementor-top-section elementor-element elementor-element-5c76a30 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5c76a30" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-32a436d" data-id="32a436d" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-0cc06ec elementor-widget elementor-widget-spacer" data-id="0cc06ec" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-10a78a5 elementor-widget elementor-widget-heading" data-id="10a78a5" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Tankless Water Heaters Services
</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-a280b17 elementor-widget elementor-widget-text-editor" data-id="a280b17" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Tankless water heater are one of the most advanced forms of water heaters, saving space in your house and heating up water as you want it. These current water heaters provide you with as plenty hot water as you want, whenever you want it. Not only is that this a extra convenient way to get warm water, but it’s extra energy efficient as the unit is no longer wasting strength to warmth a large tank of water this is sitting and slowly dropping warmness.</p>
<p>At Plumber Franklin TN, our plumbers propose this type of water heater to any of our customers who are seeking out a replacement unit or new installation. If your current unit has stopped running properly or would like to learn about the blessings of tankless warm water heaters, we can answer all your questions. <b>Call Us if you need help with your water heater.</b></p>								</div>
				</div>
				<div class="elementor-element elementor-element-935b644 elementor-widget elementor-widget-spacer" data-id="935b644" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-8b2c017" data-id="8b2c017" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-3839684 elementor-widget elementor-widget-image" data-id="3839684" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img src="/wp-content/uploads/2020/01/247call-min.png" fetchpriority="high" decoding="async" width="467" height="248" class="attachment-large size-large wp-image-162" alt="" srcset="/wp-content/uploads/2020/01/247call-min.png 467w, /wp-content/uploads/2020/01/247call-min-300x159.png 300w" sizes="(max-width: 467px) 100vw, 467px">															</div>
				</div>
				<div class="elementor-element elementor-element-a5d3bc2 elementor-widget elementor-widget-spacer" data-id="a5d3bc2" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-1d766aa elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1d766aa" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-418be78" data-id="418be78" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-be55e5c elementor-widget elementor-widget-spacer" data-id="be55e5c" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-e87f4a2 elementor-widget elementor-widget-heading" data-id="e87f4a2" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Tankless Water Heaters</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-de2cc13 elementor-widget elementor-widget-text-editor" data-id="de2cc13" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Unlike conventional water heaters, tankless water heaters are relatively new to the marketplace. Tankless models improve on some areas of the conventional models, but still leave some things to be desired. For some, a tankless model is an energy-efficient choice that can save money in the long run.</p><p>However, these are not for everyone or every type of home. The pros and cons include:</p>								</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-5683344 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5683344" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-09267d0 col1-order-custom" data-id="09267d0" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-5e71e20 elementor-widget elementor-widget-text-editor" data-id="5e71e20" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									The <strong>pros</strong> of Tankless water heaters include:								</div>
				</div>
				<div class="elementor-element elementor-element-e723ef6 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="e723ef6" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Uses less energy</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Heats water on-demand</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text"> Takes up less space</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Low-maintenance</span>
									</li>
						</ul>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-635e4fb col1-order-custom" data-id="635e4fb" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-914d922 elementor-widget elementor-widget-text-editor" data-id="914d922" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									The <strong>cons</strong> of Tankless water heaters include:								</div>
				</div>
				<div class="elementor-element elementor-element-b9f2d49 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="b9f2d49" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Expensive to install &amp; retrofit</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check"></i>						</span>
										<span class="elementor-icon-list-text">Multiple units needed for larger homes</span>
									</li>
						</ul>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-f7443bb elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f7443bb" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-a9f745c" data-id="a9f745c" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-aed99de elementor-widget elementor-widget-gallery" data-id="aed99de" data-element_type="widget" data-e-type="widget" data-settings="{&quot;columns&quot;:3,&quot;gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:20,&quot;sizes&quot;:[]},&quot;lazyload&quot;:&quot;yes&quot;,&quot;gallery_layout&quot;:&quot;grid&quot;,&quot;columns_tablet&quot;:2,&quot;columns_mobile&quot;:1,&quot;gap_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;gap_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;link_to&quot;:&quot;file&quot;,&quot;aspect_ratio&quot;:&quot;3:2&quot;,&quot;overlay_background&quot;:&quot;yes&quot;,&quot;content_hover_animation&quot;:&quot;fade-in&quot;}" data-widget_type="gallery.default">
				<div class="elementor-widget-container">
							<div class="elementor-gallery__container">
							<a class="e-gallery-item elementor-gallery-item elementor-animated-content" href="/wp-content/uploads/2020/01/Depositphotos_143791923_xl-2015-scaled.jpg" data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="aed99de" data-elementor-lightbox-title="Depositphotos_143791923_xl-2015" data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MjYxLCJ1cmwiOiJodHRwczpcL1wvcGx1bWJlcmZyYW5rbGludG4uY29tXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDIwXC8wMVwvRGVwb3NpdHBob3Rvc18xNDM3OTE5MjNfeGwtMjAxNS1zY2FsZWQuanBnIiwic2xpZGVzaG93IjoiYWVkOTlkZSJ9">
					<div class="e-gallery-image elementor-gallery-item__image" data-thumbnail="/wp-content/uploads/2020/01/Depositphotos_143791923_xl-2015-scaled.jpg" data-width="2560" data-height="1707" aria-label="" role="img"></div>
											<div class="elementor-gallery-item__overlay"></div>
														</a>
							<a class="e-gallery-item elementor-gallery-item elementor-animated-content" href="/wp-content/uploads/2020/01/Depositphotos_146924083_xl-2015-scaled.jpg" data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="aed99de" data-elementor-lightbox-title="Water heater hanging on the wall. 3D illustration." data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MjY0LCJ1cmwiOiJodHRwczpcL1wvcGx1bWJlcmZyYW5rbGludG4uY29tXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDIwXC8wMVwvRGVwb3NpdHBob3Rvc18xNDY5MjQwODNfeGwtMjAxNS1zY2FsZWQuanBnIiwic2xpZGVzaG93IjoiYWVkOTlkZSJ9">
					<div class="e-gallery-image elementor-gallery-item__image" data-thumbnail="/wp-content/uploads/2020/01/Depositphotos_146924083_xl-2015-scaled.jpg" data-width="2560" data-height="2560" aria-label="" role="img"></div>
											<div class="elementor-gallery-item__overlay"></div>
														</a>
							<a class="e-gallery-item elementor-gallery-item elementor-animated-content" href="/wp-content/uploads/2020/01/Depositphotos_76070447_xl-2015-scaled.jpg" data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="aed99de" data-elementor-lightbox-title="Modern automatic electric boiler, water heater" data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MjY2LCJ1cmwiOiJodHRwczpcL1wvcGx1bWJlcmZyYW5rbGludG4uY29tXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDIwXC8wMVwvRGVwb3NpdHBob3Rvc183NjA3MDQ0N194bC0yMDE1LXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiJhZWQ5OWRlIn0%3D">
					<div class="e-gallery-image elementor-gallery-item__image" data-thumbnail="/wp-content/uploads/2020/01/Depositphotos_76070447_xl-2015-scaled.jpg" data-width="2560" data-height="1690" aria-label="" role="img"></div>
											<div class="elementor-gallery-item__overlay"></div>
														</a>
					</div>
					</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-f0fb0de elementor-widget elementor-widget-spacer" data-id="f0fb0de" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-4604da2 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4604da2" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1449a89 col1-order-custom" data-id="1449a89" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-b1ed2c1 elementor-widget elementor-widget-spacer" data-id="b1ed2c1" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-8e3d45c elementor-widget elementor-widget-image" data-id="8e3d45c" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img src="/wp-content/uploads/2020/01/call-agent-min-641x1024.png" loading="lazy" width="641" height="1024" class="attachment-large size-large wp-image-164" alt="" srcset="/wp-content/uploads/2020/01/call-agent-min-641x1024.png 641w, /wp-content/uploads/2020/01/call-agent-min-188x300.png 188w, /wp-content/uploads/2020/01/call-agent-min-768x1227.png 768w, /wp-content/uploads/2020/01/call-agent-min-962x1536.png 962w, /wp-content/uploads/2020/01/call-agent-min-1282x2048.png 1282w" sizes="(max-width: 641px) 100vw, 641px">															</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-ff22237 call-act-col2 col2-order-custom" data-id="ff22237" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-2494df9 elementor-widget elementor-widget-heading" data-id="2494df9" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Don’t Hesitate – Get Help Now!</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-949f4a9 elementor-widget elementor-widget-spacer" data-id="949f4a9" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-2f46253 elementor-widget elementor-widget-heading" data-id="2f46253" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Call Today:</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-e5e314b elementor-widget elementor-widget-heading" data-id="e5e314b" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default"><a href="tel:615.538.8579">‪(615) 538-8579</a></h2>				</div>
				</div>
				<div class="elementor-element elementor-element-a13502d elementor-align-center elementor-widget elementor-widget-button" data-id="a13502d" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm" href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjE4OSIsInRvZ2dsZSI6dHJ1ZX0%3D">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon">
				<i aria-hidden="true" class="fas fa-chevron-right"></i>			</span>
									<span class="elementor-button-text">GET FREE estimation</span>
					</span>
					</a>
				</div>
								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>