<div data-elementor-type="single" data-elementor-id="151" class="elementor elementor-151 elementor-location-single post-145 page type-page status-publish hentry" data-elementor-post-type="elementor_library">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-288503d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="288503d" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-936bd2f" data-id="936bd2f" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-8ba1083 elementor-widget elementor-widget-spacer" data-id="8ba1083" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-cf53134 elementor-widget elementor-widget-theme-page-title elementor-page-title elementor-widget-heading" data-id="cf53134" data-element_type="widget" data-e-type="widget" data-widget_type="theme-page-title.default">
				<div class="elementor-widget-container">
					<h1 class="elementor-heading-title elementor-size-default">Our Team</h1>				</div>
				</div>
				<div class="elementor-element elementor-element-3fe9fb6 elementor-widget elementor-widget-spacer" data-id="3fe9fb6" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-87b372e elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="87b372e" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7a62dcd" data-id="7a62dcd" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-19ed0de elementor-widget elementor-widget-theme-post-content" data-id="19ed0de" data-element_type="widget" data-e-type="widget" data-widget_type="theme-post-content.default">
				<div class="elementor-widget-container">
							<div data-elementor-type="wp-page" data-elementor-id="145" class="elementor elementor-145" data-elementor-post-type="page">
						<section class="elementor-section elementor-top-section elementor-element elementor-element-6d7e0a6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6d7e0a6" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2d765bc" data-id="2d765bc" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-781dc67 elementor-widget elementor-widget-spacer" data-id="781dc67" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-599ef61 elementor-widget elementor-widget-heading" data-id="599ef61" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-a0e1449 elementor-widget elementor-widget-heading" data-id="a0e1449" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Lorem ipsum dolor sit amet</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-2a0178d elementor-widget elementor-widget-spacer" data-id="2a0178d" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-b24866f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b24866f" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-deaf504" data-id="deaf504" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-1b05405 pp-info-box-left pp-info-box-mobile-top elementor-widget elementor-widget-pp-info-box" data-id="1b05405" data-element_type="widget" data-e-type="widget" data-widget_type="pp-info-box.default">
				<div class="elementor-widget-container">
							<div class="pp-info-box-container">
			<div class="pp-info-box">
									<div class="pp-info-box-icon-wrap pp-info-box-image-wrap">
														<span class="pp-info-box-icon pp-icon pp-info-box-image">
			<img src="/wp-content/uploads/2020/01/man-team.png" fetchpriority="high" decoding="async" width="2492" height="2689" class="attachment-full size-full wp-image-155" alt="" srcset="/wp-content/uploads/2020/01/man-team.png 2492w, /wp-content/uploads/2020/01/man-team-278x300.png 278w, /wp-content/uploads/2020/01/man-team-949x1024.png 949w, /wp-content/uploads/2020/01/man-team-768x829.png 768w, /wp-content/uploads/2020/01/man-team-1423x1536.png 1423w, /wp-content/uploads/2020/01/man-team-1898x2048.png 1898w" sizes="(max-width: 2492px) 100vw, 2492px">		</span>
													</div>
								<div class="pp-info-box-content">
					<div class="pp-info-box-title-wrap">
													<div class="pp-info-box-title-container">
								<h4 class="pp-info-box-title">
									John Due								</h4>
							</div>
														<h5 class="pp-info-box-subtitle">
								Lead Owner 							</h5>
												</div>

					
											<div class="pp-info-box-description">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.						</div>
														</div>
			</div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-f097026 elementor-widget elementor-widget-spacer" data-id="f097026" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-3c1053c pp-info-box-left pp-info-box-mobile-top elementor-widget elementor-widget-pp-info-box" data-id="3c1053c" data-element_type="widget" data-e-type="widget" data-widget_type="pp-info-box.default">
				<div class="elementor-widget-container">
							<div class="pp-info-box-container">
			<div class="pp-info-box">
									<div class="pp-info-box-icon-wrap pp-info-box-image-wrap">
														<span class="pp-info-box-icon pp-icon pp-info-box-image">
			<img src="/wp-content/uploads/2020/01/man-team.png" fetchpriority="high" decoding="async" width="2492" height="2689" class="attachment-full size-full wp-image-155" alt="" srcset="/wp-content/uploads/2020/01/man-team.png 2492w, /wp-content/uploads/2020/01/man-team-278x300.png 278w, /wp-content/uploads/2020/01/man-team-949x1024.png 949w, /wp-content/uploads/2020/01/man-team-768x829.png 768w, /wp-content/uploads/2020/01/man-team-1423x1536.png 1423w, /wp-content/uploads/2020/01/man-team-1898x2048.png 1898w" sizes="(max-width: 2492px) 100vw, 2492px">		</span>
													</div>
								<div class="pp-info-box-content">
					<div class="pp-info-box-title-wrap">
													<div class="pp-info-box-title-container">
								<h4 class="pp-info-box-title">
									John Due								</h4>
							</div>
														<h5 class="pp-info-box-subtitle">
								Lead Owner 							</h5>
												</div>

					
											<div class="pp-info-box-description">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.						</div>
														</div>
			</div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-d2b275a elementor-widget elementor-widget-spacer" data-id="d2b275a" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-bbc23bf pp-info-box-left pp-info-box-mobile-top elementor-widget elementor-widget-pp-info-box" data-id="bbc23bf" data-element_type="widget" data-e-type="widget" data-widget_type="pp-info-box.default">
				<div class="elementor-widget-container">
							<div class="pp-info-box-container">
			<div class="pp-info-box">
									<div class="pp-info-box-icon-wrap pp-info-box-image-wrap">
														<span class="pp-info-box-icon pp-icon pp-info-box-image">
			<img src="/wp-content/uploads/2020/01/man-team.png" fetchpriority="high" decoding="async" width="2492" height="2689" class="attachment-full size-full wp-image-155" alt="" srcset="/wp-content/uploads/2020/01/man-team.png 2492w, /wp-content/uploads/2020/01/man-team-278x300.png 278w, /wp-content/uploads/2020/01/man-team-949x1024.png 949w, /wp-content/uploads/2020/01/man-team-768x829.png 768w, /wp-content/uploads/2020/01/man-team-1423x1536.png 1423w, /wp-content/uploads/2020/01/man-team-1898x2048.png 1898w" sizes="(max-width: 2492px) 100vw, 2492px">		</span>
													</div>
								<div class="pp-info-box-content">
					<div class="pp-info-box-title-wrap">
													<div class="pp-info-box-title-container">
								<h4 class="pp-info-box-title">
									John Due								</h4>
							</div>
														<h5 class="pp-info-box-subtitle">
								Lead Owner 							</h5>
												</div>

					
											<div class="pp-info-box-description">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.						</div>
														</div>
			</div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-d3d2174 elementor-widget elementor-widget-spacer" data-id="d3d2174" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-b134a1b pp-info-box-left pp-info-box-mobile-top elementor-widget elementor-widget-pp-info-box" data-id="b134a1b" data-element_type="widget" data-e-type="widget" data-widget_type="pp-info-box.default">
				<div class="elementor-widget-container">
							<div class="pp-info-box-container">
			<div class="pp-info-box">
									<div class="pp-info-box-icon-wrap pp-info-box-image-wrap">
														<span class="pp-info-box-icon pp-icon pp-info-box-image">
			<img src="/wp-content/uploads/2020/01/man-team.png" fetchpriority="high" decoding="async" width="2492" height="2689" class="attachment-full size-full wp-image-155" alt="" srcset="/wp-content/uploads/2020/01/man-team.png 2492w, /wp-content/uploads/2020/01/man-team-278x300.png 278w, /wp-content/uploads/2020/01/man-team-949x1024.png 949w, /wp-content/uploads/2020/01/man-team-768x829.png 768w, /wp-content/uploads/2020/01/man-team-1423x1536.png 1423w, /wp-content/uploads/2020/01/man-team-1898x2048.png 1898w" sizes="(max-width: 2492px) 100vw, 2492px">		</span>
													</div>
								<div class="pp-info-box-content">
					<div class="pp-info-box-title-wrap">
													<div class="pp-info-box-title-container">
								<h4 class="pp-info-box-title">
									John Due								</h4>
							</div>
														<h5 class="pp-info-box-subtitle">
								Lead Owner 							</h5>
												</div>

					
											<div class="pp-info-box-description">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.						</div>
														</div>
			</div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-12fb6a2 elementor-widget elementor-widget-spacer" data-id="12fb6a2" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-1c6fd4a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1c6fd4a" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6345f68" data-id="6345f68" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-f526e8f elementor-widget elementor-widget-global elementor-global-157 elementor-widget-heading" data-id="f526e8f" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">‪(615) 538-8579</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-b0a95de elementor-align-center elementor-widget elementor-widget-global elementor-global-156 elementor-widget-button" data-id="b0a95de" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm" href="tel:615.538.8579">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">CALL US NOW</span>
					</span>
					</a>
				</div>
								</div>
				</div>
				<div class="elementor-element elementor-element-e02847d elementor-widget elementor-widget-spacer" data-id="e02847d" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>